.app-bar {
  margin-bottom: 20px;
}

.app-bar__link--github {
  display: block;
  color: transparent;
  background-image: url('../static/images/misc-icons/github-64.png');
  background-size: contain;
  height: 2em;
  width: 2em;
  cursor: pointer;
}
